<span class="title">Re-bonjour à vous !</span>
<span class="title mt-5">Connectez-vous pour créer/personnaliser un CV 😊.</span>
<div>
  <span class="welcome">Choisissez une action</span>
  <img src="assets/sun.gif" height="100" alt="">
</div>
<div class="row">
  <div class="col-md-7">
    <button class="btn mr-2 d-inline-block" (click)="hideDiv()">Se connecter / S'inscrire</button>
  </div>
  <div class="col-md-4">
    <button class="btn d-inline-block" routerLink="/cv-theque" (click)="goToCvTheque()">Voir les Cvs</button>
  </div>
</div>

<div class="container mt-5" *ngIf="loginRegister">
  <div class="card">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <div class="input-group">
        <input type="email" placeholder="Nom d'utilisateur" class="form-control" formControlName="email" required>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          L'adresse mail est requise.
        </div>
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          Le MDP est requis.
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">
        Se connecter <i class="fas fa-spinner fa-spin" *ngIf="refreshing"></i>
      </button>
    </form>
  </div>

  <div class="card">
    <h2>Inscription</h2>
    <form>
      <div class="input-group">
        <input type="text" placeholder="Nom d'utilisateur" name="username" required>
      </div>
      <div class="input-group">
        <input type="email" placeholder="Email" name="email" required>
      </div>
      <div class="input-group">
        <input type="password" placeholder="Mot de passe" name="password" required>
      </div>
      <button type="submit">S'inscrire</button>
    </form>
  </div>
</div>
